<!-- Blog start -->
<section class="section" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Latest News</h3>
          <p class="text-muted font-size-15">Latest News of three months</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="blog-box mb-4 mb-lg-0">
          <img src="assets/images/blog/img-1.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item mr-3">
              <i-feather class="icon-size-15 icon mr-1" name="calendar"></i-feather>March 10
              2020
            </li>
            <li class="list-inline-item">
              <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>Admin
            </li>
          </ul>
          <a href="javascript: void(0);" class="text-dark font-weight-bold h5">Best Traveling Place</a>
          <p class="text-muted font-size-15">After this covid 19 end there are many places you can visit..</p>
          <a href="javascript: void(0);" class="text-primary font-weight-semibold">Learn More <span
              class="ml-2 right-icon">&#8594;</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-box blog-box mb-4 mb-lg-0">
          <img src="assets/images/blog/img-2.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item mr-3">
              <i-feather class="icon-size-15 icon mr-1" name="calendar"></i-feather>April 11
              2020
            </li>
            <li class="list-inline-item">
              <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>Admin
            </li>
          </ul>
          <a href="javascript: void(0);" class="text-dark font-weight-bold h5">Coffee in The Morning </a>
          <p class="text-muted font-size-15">A cup coffee in the morning keep you wake up the whole day and also best for your healths too..</p>
          <a href="javascript: void(0);" class="text-primary font-weight-semibold">Learn More <span
              class="ml-2 right-icon">&#8594;</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-box blog-box mb-4 mb-lg-0">
          <img src="assets/images/blog/img-3.jpg" alt="" class="img-fluid d-block mx-auto rounded">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item mr-3">
              <i-feather class="icon-size-15 icon mr-1" name="calendar"></i-feather>May 12
              2020
            </li>
            <li class="list-inline-item">
              <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>Admin
            </li>
          </ul>
          <a href="javascript: void(0);" class="text-dark font-weight-bold h5">The Best Business Ideas</a>
          <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
            adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
          <a href="javascript: void(0);" class="text-primary font-weight-semibold">Learn More <span
              class="ml-2 right-icon">&#8594;</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->
